$red: #903;
$black: #444;
$white: #fff;
$green: #4CAF50;
$main-font: Helvetica, Arial, sans-serif;
$default-width: 500px;
$default-border: 60%;
$default-font: 14px/1.4 $main-font;

body {
  font-family: $main-font;
}

h1 {
  color: $red;
  font: 32px/1 $main-font;
}

h2 {
  font: 25px/1 $main-font;
  font-weight: bold;
}

header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  padding-left: 84px;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $background;
    overflow: hidden;
  }
  li {
    float: left;
    font: inherit
  }
  a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: $background;
    color: $color;
    &:hover {
      background: darken($background, 20%);
    }
  }
}

nav {
  @include tabs ($background: $black, $color: $white);
  font-weight: bold;
  font-size: 20px;
}

nav div.dropdown {
  float: left;
  overflow: hidden;
}

nav button.dropbtn {
  text-decoration: none;
  display: block;
  font-size: inherit;
  border: none;
  outline: none;
  color: $white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 8px;
  font-weight: inherit;
}

nav div.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  &:hover {
    display: inline;
  }
}

.dropdown:hover + .dropdown-content {
  display: inline;
}

nav a.current {
  background: lighten($black, 5%);
}

p {
  font: $default-font;
}

p.references {
  font-style: italic;
}

label {
  display: block;
}

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: lighten($red, 60%);
  color: $red;
  border: 1px solid $red;
}

.formatted-object {
  display: block;
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  width: $default-width;
  border-radius: $default-border;
}

#like {
  p {
    font-weight: bold;
    color: $red;
  }
  input {
    background: $white url(/images/like.png) 0 0 no-repeat;
    border: darken($red, 10%) 1px solid;
    height: 28px;
    padding-left: 24px;
  }
}

div.container {
  position: relative;
}

span.embedded-text {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bats-of-the-uk {
  padding: 1px 0px;
  display: block;
  text-align: center; 
  width: 765px;
}

.btr-images {
  padding: 1px 0px;
  display: block;
  text-align: center; 
  width: 765px;
}

.btr-smaller-images {
  padding: 1px 0px;
  text-align: center; 
  width: 50%;
  object-fit: fill;
}

li {
  font: $default-font;
}

figure {
  width: 765px;
  text-align: center; 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
  padding: 1px 0px;
}

iframe {
  text-align: center; 
  width: 95%;
  height: 400px;
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  caption-side: bottom;
  background: #fff;
  padding: 0 5px 5px;
  font: $default-font;
  font-weight: bold;
  text-align: center;
}