$red: #903;
$black: #444;
$white: #fff;
$green: #4CAF50;
$main-font: Helvetica, Arial, sans-serif;
$default-width: 500px;
$default-border: 60%;
$default-font: 1.6rem $main-font;

:root {
  font-size: 62.5%;
}
body {
  font-family: $main-font;
}

h1 {
  color: $red;
  font: 3.2rem $main-font;
}

h2 {
  font: 2.5rem $main-font;
  font-weight: bold;
}

header h1 {
  font-size: 4rem;
  line-height: 8rem;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  padding-left: 8.4rem;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $background;
    overflow: hidden;
  }
  li {
    float: left;
    font: inherit
  }
  a {
    text-decoration: none;
    display: block;
    padding: 0.8rem;
    background: $background;
    color: $color;
    &:hover {
      background: darken($background, 20%);
    }
  }
}

nav {
  @include tabs ($background: $black, $color: $white);
  font-weight: bold;
  font-size: 1.6rem;
}

nav div.dropdown {
  float: left;
  overflow: hidden;
}

nav button.dropbtn {
  text-decoration: none;
  display: block;
  font-size: inherit;
  border: none;
  outline: none;
  color: $white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0.8rem;
  font-weight: inherit;
}

nav div.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16rem;
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
  &:hover {
    display: inline;
  }
}

.dropdown:hover + .dropdown-content {
  display: inline;
}

nav a.current {
  background: lighten($black, 5%);
}

p {
  font: $default-font;
}

p.references {
  font-style: italic;
}

label {
  display: block;
}

.flash {
  width: 60rem;
  padding: 0.5rem;
  font-weight: bold;
  margin: 2rem;
  background: lighten($red, 60%);
  color: $red;
  border: 1rem solid $red;
}

.formatted-object {
  display: block;
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  width: $default-width;
  border-radius: $default-border;
}

#like {
  p {
    font-weight: bold;
    color: $red;
  }
  input {
    background: $white url(/images/like.png) 0 0 no-repeat;
    border: darken($red, 10%) 1px solid;
    height: 2.8rem;
    padding-left: 2.4rem;
  }
}

div.container {
  position: relative;
}

span.embedded-text {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bats-of-the-uk {
  padding: 0.1rem 0rem;
  display: block;
  text-align: center; 
  max-width: 76.5rem;
  width:100%;
}

.btr-images {
  padding: 0.1rem 0rem;
  display: block;
  text-align: center; 
  max-width: 76.5rem;
  width:100%;
}

.btr-smaller-images {
  padding: 0.1rem, 0rem;
  text-align: center; 
  width: 50%;
  object-fit: fill;
}

li {
  font: $default-font;
}

figure {
  max-width: 76.5rem;
  width: 100%;
  text-align: center; 
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0.1rem 0rem;
}

iframe {
  text-align: center; 
  width: 95%;
  height: 40rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

figcaption {
  caption-side: bottom;
  background: #fff;
  padding: 0 0.5rem 0.5rem;
  font: $default-font;
  font-weight: bold;
  text-align: center;
}