$red: #903;
$black: #444;
$white: #fff;
$green: #4CAF50;
$main-font: Helvetica, Arial, sans-serif;
$default-width: 50rem;
$default-border: 60%;
$default-font: 1rem;

:root {
  font-size: 100%;
}

body {
  font-family: $main-font;
  margin: 0.5rem;
}

h1 {
  color: $red;
  font: 2rem $main-font;
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
}

.navbar {
  color: $red;
  font: $main-font;
  font-size: 1rem;
//https://medium.com/coder-grrl/the-guide-to-customising-the-bootstrap-4-navbar-i-wish-id-had-6-months-ago-7bc6ce0e3c71
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: $white
}

.dropdown-item.active {
  background-color: #6c757d;
}

h2 {
  font: 1.5rem $main-font;
  font-weight: bold;
  display:block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
}

h3 {
  font: 1rem $main-font;
  font-weight: bold;
  display:block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
}

header h1 {
  font-size: 2.5rem;
  line-height: 4rem;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-block-start: 0.67rem;
  margin-block-end: 0.67rem;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
  margin: auto;
  text-align: center;
}

p {
  font-size: $default-font;
  margin-top: 1rem;
}

p.references {
  font-style: italic;
}

label {
  display: block;
}

.flash {
  font-weight: bold;
  margin-top: 1rem;
  color: $red;
}

.formatted-object {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  min-width: 20rem;
  border-radius: $default-border;
}

#like {
  p {
    font-weight: bold;
    color: $red;
  }
  input {
    background: $white url(/images/like.png) 0 0 no-repeat;
    border: darken($red, 10%) 1px solid;
    height: 2.8rem;
    padding-left: 2.4rem;
  }
}

div.container {
  position: relative;
}

span.embedded-text {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btr-images {
  padding: 0.1rem 0rem;
  display: block;
  text-align: center; 
  max-width: 60rem;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.btr-smaller-images {
  padding: 0.1rem, 0rem;
  text-align: center; 
  width: 50%;
  min-width: 10rem;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
}

li {
  font: $default-font;
}

figure.fullscreen {
  width: 100%;
  text-align: center; 
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0.1rem 0rem;
}

figure.left-aligned {
    padding: 0.1rem, 0rem;
    text-align: center; 
    width: 100%;
    max-width: 35rem;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
}

iframe {
  text-align: center;
  height: 18rem;
  width: 32rem;
}

figcaption {
  caption-side: bottom;
  background: #fff;
  padding: 0 0.5rem 0.5rem;
  font: $default-font;
  font-weight: bold;
  text-align: center;
}

button.navigation {
  background-color: $black; /* Green */
  border: none;
  color: white;
  font: $main-font;
  font-size: 1rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: $default-border;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: $white
  }
}