h1 Echolocation and Bat Detectors
p The following section brief introduction to Echolocation and how we use Bat Detectors to 'listen' to bats.  There are summaries of the various detectors we use on our surveys and how to use them.
h2 Echolocation
p Echolocation--the active use of sonar (Sound Navigation And Ranging) along with special morphological (physical features) and physiological adaptations--allows bats to "see" with sound. Most bats produce echolocation sounds by contracting their larynx. A few species, though, click their tongues. These sounds are generally emitted through the mouth, but Horseshoe bats emit their echolocation calls through their nostrils.
p Echolocation calls are usually ultrasonic--ranging in frequency from 20 to 200 kilohertz (kHz), whereas human hearing normally tops out at around 20 kHz. Even so, we can hear echolocation clicks from some bats, such as the Common Noctule). These noises resemble the sounds made by hitting two round pebbles together. In general, echolocation calls are characterised by their frequency; their intensity in decibels (dB); and their duration in milliseconds (ms).
p We use Bat Detectors to Detect and Record echolocation calls as well as other social calls used by bat. 
h2 Bat Detectors
h3 Heterodyning Detectors
p Heterodyning bat detectors operate like a radio receiver. The technique involves the mixing of two signals, one being the bat call from the ultrasonic microphone and the other produced by a local oscillator in the detector. These signals are mixed and filtered to produce an output that is audible to human ears. 
p The main advantage of this technique is that it produces a high fidelity signal.  The main disadvantage is that it only processes a small portion of the ultrasonic frequency range at a time and must be tuned, just like a radio. If you are tuned to the wrong frequency you can miss the bat passes.
p We commonly use Batbox Duet and Petterson D-230 devices, both of which use this approach.
figure
    img class="btr-smaller-images" src="/images/bat-detectors/1.jpg" 
    figcaption Bat Box Duet - A Heterodyning Bat Detector
figure
    <iframe src="https://www.youtube.com/embed/mDJMJ6YxrUY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    figcaption How To Use a Heterodyning Bat Detector
h3 Time Expansion Detectors
p A time expansion bat detector digitally records ultrasonic bat calls and then plays them back at a slower rate and frequency to give an audible output (generally 1/10, for example a frequency of 50 kHz is lowered to 5 kHz).
p The advantages are that the entire structure of the call can be heard enabling species identification using sound analysis software and the sonograms tend to be of a very high quality. The disadvantage of the time expansion system is that while the detector is playing back the slowed-down sounds it becomes "deaf" to any bats flying past. 
p Real-Time Expansion is a a full spectrum technique where processing is all carried out in the detector with delays reduced to provide an effectively 'real-time' conversion with minimal delays.
p We use Wildlife Acoustics Echo Meter Touch Devices, which have RTE and Hetrodyning Functionality.
figure
    img class="btr-smaller-images" src="/images/bat-detectors/2.jpg" 
    figcaption Echo Meter Touch - A Bat Detector with Time Expansion (RTE) and Heterodyning Modes
figure
    <iframe src="https://www.youtube.com/embed/uiTMb6zRXY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    figcaption How To Use an Echo Meter Touch
h3 Frequency Division Detectors
p The third approach commonly used in bat detectors is Frequency Division. The duet devices above are able to function in both Hetrodyning and FD mode at the same time. The FD mode is described briefly below. . It is generally used with a recording device and analysed at a later date with specialist software.
p Frequency division is common technique using a zero crossing detector along with a digital counting circuit which divides ultrasonic frequencies down to the audible range. It is a simple technique, but it is also destructive to the signal.  Its performance is limited because 1) it does not preserve amplitude information, 2) it generates a high level of artificial harmonic content that cannot be removed, and 3) it does not distinguish well between the actual signal and the background noise, so it is very noisy.
- @references = []
- @next_link = '/btr/echolocation'
- @next_text = 'Echolocation'