h1 Bat Roosts
p Bats will roost within a variety of different roosting locations, included houses, farm buildings, churches, bridges, walls, trees, culverts, caves and tunnels. Bats may roost independently during the day or night, collectively during the maternity period, use roosts as a feeding perches, as transitional shelters between summer and winter roosts; the list goes on... Each species has its own roost preferences. Some prefer crevices, some prefer open voids and loft spaces, others roost exclusively in buildings or trees. Below is a summary of these roosting preferences.
h2 Species Roosting Preferences
img class="btr-images" src="/images/bat-roosts/1.jpg"
img class="btr-images" src="/images/bat-roosts/2.jpg"
img class="btr-images" src="/images/bat-roosts/3.jpg"
img class="btr-images" src="/images/bat-roosts/4.jpg"
h2 Natural England's Roost Definitions
p To capture the variety and dynamic nature of bat roosts, Natural England have produced a series of roost type definitions. These are used to classify how a roost is used and significant in terms of conservation value (independent of species).
img class="btr-images" src="/images/bat-roosts/5.jpg"
- @references = {"Bat Conservation Trust (2016) Bat Surveys for Professional Ecologists: Good Practice Guidelines (3rd edn)" => "https://bit.ly/2Lrolfw"}
- @next_link = '/btr/foraging'
- @next_text = 'Foraging'