h1 Bats of the UK
p Below are brief introductions to the species of bats you may encounter in the UK. Following sections provide more details of species traits. 
img class="bats-of-the-uk" src="/images/bats-of-the-uk/1.jpg"
img class="bats-of-the-uk" src="/images/bats-of-the-uk/2.jpg"
img class="bats-of-the-uk" src="/images/bats-of-the-uk/3.jpg"
img class="bats-of-the-uk" src="/images/bats-of-the-uk/4.jpg"
img class="bats-of-the-uk" src="/images/bats-of-the-uk/5.jpg"
img class="bats-of-the-uk" src="/images/bats-of-the-uk/6.jpg"
img class="bats-of-the-uk" src="/images/bats-of-the-uk/7.jpg"
img class="bats-of-the-uk" src="/images/bats-of-the-uk/8.jpg"
img class="bats-of-the-uk" src="/images/bats-of-the-uk/9.jpg"
img class="bats-of-the-uk" src="/images/bats-of-the-uk/10.jpg"

- @references = {"National Trust. (2019). Our guide to the UK's bats." => "https://www.nationaltrust.org.uk/features/our-guide-to-the-uks-bats"}
- @next_link = '/btr/bat-roosts'
- @next_text = 'Bats Roosts'


/! To do:
    -   add sources
    -   type up text
