h1 Foraging Preferences
p Just as species of bats have preferred roosts, each also has associated foraging habitat preferences. By combining know ranges, species roosting and foraging preferences, we are able to paint a more complete picture of where we would "expect" to encounter differing species of bats.
img class="btr-images" src="/images/foraging/1.jpg"
img class="btr-images" src="/images/foraging/2.jpg"

- @references = {"Bat Conservation Trust (2016) Bat Surveys for Professional Ecologists: Good Practice Guidelines (3rd edn)" => "https://bit.ly/2Lrolfw"}
- @next_link = '/btr/potential-roosting-features'
- @next_text = 'Roosting Features'