h1 Bat Ecology in the UK and Legislation

p As it stands, 18 species of bats are known to live within the United Kingdom, of which 17 species are confirmed to be breeding. All UK bat species are classed as insectivorous, feeding on a variety of invertebrates including midges, mosquitoes, lacewings, moths, beetles and small spiders. 

p Bats have a complex annual life cycle. Bats usually start to come out of hibernation in March and early April (weather dependent), when they start to forage and replenish the body weight lost during the hibernation period. The female bats then start to congregate together in maternity roosts prior to giving birth and a single baby is born in June or July. The female then works hard to feed her young so that they can become independent and of a sufficient weight to survive the winter before the weather gets too cold and invertebrate activity reduces. Males generally live solitary lives, or in small groups with other males, although in some species the males can be found living with the females all year. The mating season begins in the autumn. During the winter bats hibernate in safe locations which provide relatively constant conditions, although they may venture outside to forage on warmer winter nights.

p Bats will roost within a variety of different roosting locations, included houses, farm buildings, churches, bridges, walls, trees, culverts, caves and tunnels. At different times of the year the bats roosting requirements alter and they can have different roosting locations for maternity roosts, mating roosts and hibernation roosts. Certain bat species will also change roosts throughout the bat activity season with the bat colony using the site to roost for a few days, abandoning the roost and then returning a few days or weeks later. This change can be for a variety of reasons including climatic conditions and prey availability. Bats are known live for several years and if the climatic conditions are unfavourable at a particular roost, they may abandon it for a number of years, before returning when conditions change.

p We will go into different types of roosts and roosting preferences of the UK bat species in the following sections. 

p Bats and the places they use for shelter or protection (i.e. roosts) receive European protection under The Conservation of Habitats and Species Regulations 2017 (Habitats Regulations 2017). They receive further legal protection under the Wildlife and Countryside Act (WCA) 1981.

p This protection means that bats, and the places they use for shelter or protection, are capable of being a material consideration in the planning process.  Due to the matriarchal nature of bat colonies, the locations of these roosts can be passed down through the generations. To account for this, legal opinion is that roosts are protected whether or not bats are present. 

- @next_link = '/btr/bats-of-the-uk'
- @next_text = 'Bats of the UK'