h1 Species Traits
h2 Flight Silhouettes and Foraging Traits
p Learning to differentiate species is a skill which can take some time to learn. Some bats are simple to identify with the aid of a detector because the call is so distinctive, or few or no other bats echolocate at the same frequency. As shown in the previous section, others are harder to differentiate and other information about the bat such as wing shape, flight patterns or details of the habitat my be helpful. Below are some useful resources for distinguishing bats in flight.
h3 Bedfordshire Bat Group's Bats in Flight Key
img class="btr-images" src="/images/species-traits/1.jpg"
img class="btr-images" src="/images/species-traits/2.jpg"
h3 Bat Foraging Traits - Compiled from Bristol University's Bats of Britain
img class="btr-images" src="/images/species-traits/3.jpg"

- @references = {"Bedfordshire Bat Group. 2019. Bats in Flight." => "http://www.bedsbatgroup.org.uk/wordpress/wp-content/uploads/2011/08/2006-4-identifying-bats-in-flight.pdf", "The Bats of Britain. 2019. The Bats of Britain." => "http://www.bio.bris.ac.uk/research/bats/britishbats/"}
- @next_link = '/btr/useful-resources'
- @next_text = 'Useful Resources'