h1 Potential Roosting Features
p Bats will roost within a variety of different roosting locations, included houses, farm buildings, churches, bridges, walls, trees, culverts, caves and tunnels.
p The majority of our surveys involve buildings and trees. The images below provide some examples of commonly used roosting locations and some of the jargon used when describing roost locations.
h2 Bats and Buildings
img class="btr-images" src="/images/potential-roosting-features/1.jpg"
h2 Bats and Trees
img class="btr-images" src="/images/potential-roosting-features/2.jpg"
- @references = {"Bat Conservation Trust (2012) Bats and Buildings" => "https://bit.ly/2JwkBdO", "Mammal Next Door - Tree Poster" => "http://www.mammalnextdoor.co.uk/bat-trees-posters"}
- @next_link = '/btr/intro-to-surveys'
- @next_text = 'Intro to Surveys'