h1 Species Traits
h2 Flight Silhouettes and Foraging Traits
p Learning to differentiate species is a skill which can take some time to learn. Some bats are simple to identify with the aid of a detector because the call is so distinctive, or few or no other bats echolocate at the same frequency. As shown in the previous section, others are harder to differentiate and other information about the bat such as wing shape, flight patterns or details of the habitat my be helpful. Below are some useful resources for distinguishing bats in flight.
h3 Bedfordshire Bat Group's Bats in Flight Key
img class="btr-images" src="/images/species-traits/1.jpg"
img class="btr-images" src="/images/species-traits/2.jpg"
h3 Bat Foraging Traits - Compiled from Bristol University's Bats of Britain
<table style="width: 100%; max-width: 60rem; border-color: #903; margin-left: auto; margin-right: auto;" border="2" cellspacing="0" cellpadding="7">
<tbody>
<tr style="height: 36px;" valign="top">
<td style="height: 36px; width: 531px;">
<h3 align="center">Species Traits</h3>
</td>
<td style="height: 36px; width: 494px; text-align: center;">
<h3 align="center">Spectrograms &amp; Flight Characteristics</h3>
</td>
</tr>
<tr style="height: 551px;" valign="top">
<td style="height: 551px; width: 531px;">
<p>Common Pipistrelle&nbsp;<em>Pipistrellus pipistrellus</em></p>
<ul>
<li>Warren&nbsp;et al. (2000) found that when foraging over water, common pipistrelles prefer areas of smooth water surface with trees on both banks. These areas were found to be abundant in flying insects and low in acoustic noise. These findings could have implications in the conservation of suitable habitats for common pipistrelle populations.</li>
<li>Often follows the same flight path every night.</li>
<li>Foraging activity is often intermittent throughout the night and is dependent on ambient temperature in the winter (bats forage when the temperature is greater than 8 degrees Celcius (Avery, 1991)).</li>
<li>Foraging period changes with weather and reproductive state. Pregnant females forage once a night for a long period. Once the young are born females make two shorter foraging trips (Swift, Racey &amp; Avery, 1985).</li>
<li>The diet of common pipistrelles mainly consists of Diptera, particularly Chironomidae (Vaughan, 1997). Diurnal Diptera are also eaten. Aquatic insects are an important part of the common pipistrelle's diet and so they often forage near fresh water habitats.&nbsp;Aerial hawking&nbsp;is probably the predominant foraging strategy used, although some prey may be&nbsp;gleaned.</li>
<li>Both the common pipistrelle and the soprano pipistrelle were found to mainly eat Diptera: Nematocerca , and both had a similar dietary range (Barlow, 1997). The common pipistrelle mainly fed on insects in the families Psychodidae, Anisopodidae and Muscidae. The soprano pipistrelle mainly ate the families Chironomidae and Ceratopogonidae.</li>
<li>Prey is caught and consumed during flight.</li>
<li>Forages up to 5km from roost (Avery, 1991).</li>
</ul>
</td>
<td style="width: 494px;">
<p><img src="https://i.ibb.co/VLnVmzx/1.png" alt="" width="100%" height="auto" /><img src="https://i.ibb.co/Btqc3F9/5.jpg" alt="" width="100%" height="auto" /></p>
</td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Soprano Pipistrelle&nbsp;<em>Pipistrellus pygmaeus</em></p>
<ul>
<li>Often follows the same flight path every night.</li>
<li>Foraging period changes with weather and reproductive state. Pregnant females forage once a night for a long period. Once the young are born females make two shorter foraging trips.</li>
<li>The diet of soprano pipistrelles mainly consists of Diptera, particularly Chironomidae (Vaughan, 1997). Diurnal Diptera are also eaten. Aquatic insects are an important part of the soprano pipistrelle's diet and so they often forage near fresh water habitats.&nbsp;Aerial hawking&nbsp;is probably the predominant foraging strategy used, although some prey may be&nbsp;gleaned.</li>
<li>Prey is caught and consumed during flight.</li>
</ul>
</td>
<td style="width: 494px;">
<p><img src="https://i.ibb.co/JjrzWPG/3.png" alt="" width="480" height="346" /><img src="https://i.ibb.co/JjrzWPG/3.png" alt="" width="480" height="346" /></p>
</td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Nathusius' Pipistrelle&nbsp;<em>Pipistrellus nathusii</em></p>
<ul>
<li>The diet of Nathusius' pipistrelles mainly consists of aquatic Diptera, particularly Chironomidae (Vaughan, 1997).</li>
</ul>
</td>
<td style="width: 494px;">
<p><img src="https://i.ibb.co/QjM4qBW/5.png" alt="" width="480" height="483" /><img src="https://i.ibb.co/dbGg7gQ/6.jpg" alt="" width="480" height="202" /></p>
</td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Noctule&nbsp;<em>Nyctalus noctula</em></p>
<ul>
<li>Foraging activity peaks for one hour at dusk and half an hour at dawn.</li>
<li>The emergence time and length of foraging activity of noctules are influenced by temperature, precipitation and moonlight. The bats reduced intraspecific competition by foraging at different times of the night to their roostmates. Noctules forage exclusively in open habitats; the bats' wing morphology and echolocation calls are well adapted for this type of foraging (Kronwitter, 1998).</li>
<li>The diet of noctules mainly consists of Diptera, with both crepuscular and diurnal species being eaten (Vaughan, 1997). Lepidoptera and Coleoptera are also important dietary items.&nbsp;Aerial hawking&nbsp;is the predominant foraging strategy used.</li>
<li>Prey is caught and consumed during flight. May also forage around lights or in the substrate.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/qyp3Pq8/7.png" alt="" width="480" height="312" /><img src="https://i.ibb.co/Sd3cQTZ/8.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Leisler's Bat&nbsp;<em>Nyctalus leisleri</em></p>
<ul>
<li>Foraging activity peaks at dawn and dusk.</li>
<li>Leisler's bats in Ireland were found to commute to their feeding sites at speeds of up to 40 km/h at a distance of up to 13.4km (Shiel&nbsp;et al.,&nbsp;1999).</li>
<li>Waters&nbsp;et al.&nbsp;(1999) found that Leisler's bats foraged on average 4.2 km from their roost site in woodland and scrub-lined roads in Kent and over pasture in Bristol.</li>
<li>The diet of Leisler's bats mainly consists of Diptera, particularly the suborder Brachycera (Vaughan, 1997).</li>
<li>Shiel&nbsp;et al.&nbsp;(1998) investigated the diet of Leisler's bats in Ireland, England and Germany. They found that the bats eat mainly medium-sized and small insects, particularly Lepidoptera and those with aquatic larvae such as Trichoptera.</li>
<li>A study of Leisler's bats around Bristol and Kent found that their diet varied seasonally and by location, but mainly consisted of small Nematocercan Diptera and smaller numbers of Coleoptera and Lepidoptera (Waters&nbsp;et al., 1999).</li>
<li>Vaughan (1997) found that Leisler's bats predominantly eat aquatic Diptera, indicating that they mainly feed in close proximity to freshwater.</li>
<li>Prey is caught and consumed during flight.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/pJrqnWQ/9.png" alt="" width="480" height="316" /><img src="https://i.ibb.co/7rq0XZW/10.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Serotine&nbsp;<em>Eptesicus serotinus</em></p>
<ul>
<li>Foraging activity peaks at the start of the night, and there is a second period of activity around dawn.</li>
<li>Serotines commute on average 6.5km to and from feeding areas per night, and use up to 5 areas each night. Serotines use three main feeding strategies: short flights, ground feeding and mainly&nbsp;aerial hawking&nbsp;(Catto&nbsp;et al., 1996).</li>
<li>Forages 0-5m above ground level (Russ, 1999).</li>
<li>The diet of serotines mainly consists of Coleoptera, with both crepuscular and diurnal species being eaten. Tympanate species are also taken. Lepidoptera and Diptera are also part of the serotine's diet.&nbsp;Hawking&nbsp;and&nbsp;gleaning&nbsp;foraging strategies are used (Vaughan, 1997).</li>
<li>Robinson &amp; Stebbings (1993) investigated the diet of the serotine. They found that in 96.1% of the faeces they examined Coleoptera were present and in 14.7% Lepidoptera were present. The beetle species found were from habitats such as hay meadows or grazed pasture indicating that this population of serotines foraged mainly over these habitat types.</li>
<li>Catto&nbsp;et al.&nbsp;(1994) found that the most common prey item of serotines was&nbsp;Aphodius&nbsp;beetles. The bats consume the greatest diversity of prey items in June.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/FX9rTB8/11.png" alt="" width="480" height="297" /><img src="https://i.ibb.co/qpfg7XD/12.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Brown Long-Eared Bat&nbsp;<em>Plecotus auritus</em></p>
<ul>
<li>Forages close to the roost in open woodland or parkland. Brown long-eared bats display a preference for deciduous woodland, and can&nbsp;glean&nbsp;insects from various surfaces (Entwistle&nbsp;et al., 1996).</li>
<li>Forages about 5-6m above the ground where there is thick vegetation (Swift, 1991a). Foraging flight has short, twisting sections and includes upward scanning of vegetation.</li>
<li>The diet of brown long-eared bats consists almost exclusively of Lepidoptera, including many tympanate species (Vaughan, 1997).</li>
<li>A study by Sheil&nbsp;et al. (1991) on a population of brown long-eared bats in western Ireland showed that 42% of their diet was made up of insects which were probably&nbsp;gleaned&nbsp;from various surfaces such as foliage and the ground. The prey are thought to have been&nbsp;gleaned&nbsp;because they were insects that were diurnal or rarely flew, or non-flying arthropods. Ground-dwelling prey such as centipedes and the dipteran muscid&nbsp;Scatophaga stercoraria&nbsp;appeared to be common dietary components. The majority of prey items consumed by the brown long-eared bats were Diptera and Lepidoptera. Evidence of some very small prey items, such as aphids, was also found.</li>
<li>Large prey items are often consumed at a night perch.</li>
<li>Feeding sites are used and may be shared with individuals from the same roost (Entwistle&nbsp;et al., 1996).</li>
<li>Prey is probably detected by sight and sound using the large eyes and ears, not by echolocation. A study by Ekl&ouml;f and Jones (2003) demonstrated the ability of the brown long-eared bat to visually detect prey. Under experimental conditions, brown long-eared bats showed a preference for situations where sonar and visual cues were available. However, visual cues were more important that sonar cues and the bats were unable to detect prey items using only sonar cues. Brown long-eared bats have relatively large eyes and ears and it is likely that visual information and passive listening allow this species to detect prey in cluttered environments.</li>
</ul>
</td>
<td style="width: 494px;">
<p><img src="https://i.ibb.co/GpgNLZ4/13.png" alt="" width="480" height="376" /><img src="https://i.ibb.co/wQskPMk/14.jpg" alt="" width="480" height="202" /></p>
</td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Grey Long-Eared Bat&nbsp;<em>Plecotus austriacus</em></p>
<ul>
<li>Forages close to the roost in open spaces and occasionally around street lights. May sometimes&nbsp;glean&nbsp;insects from foliage but more often catches prey in free flight.</li>
<li>The diet of grey long-eared bats mainly consists of Lepidoptera, including many tympanate species. Diptera, predominantly woodland species, are also taken (Vaughan, 1997).</li>
<li>May use feeding perches.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/0htCMW6/15.png" alt="" width="480" height="382" /><img src="https://i.ibb.co/QkQxCc1/16.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Whiskered Bat&nbsp;<em>Myotis mystacinus</em></p>
<ul>
<li>Forages along woodland paths, close to vegetation and often in the canopy. Also forages in open habitats, including over flowing water.</li>
<li>The diet of whiskered bats mainly consists of Diptera including both crepuscular and diurnal species (Vaughan, 1997). Whiskered bats are therefore likely to use a&nbsp;gleaning&nbsp;foraging strategy.</li>
<li>Whiskered bats may take insects from the air by flying back and forth through a dense patch of insects or they may be taken directly from vegetation.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/ZSZYGdr/17.png" alt="" width="480" height="356" /><img src="https://i.ibb.co/TLsNSbN/18.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Natterer's Bat&nbsp;<em>Myotis nattereri</em></p>
<ul>
<li>Forages throughout the night, often low over water (but usually higher than Daubenton's bats) with sharp turns. May also forage among tree branches in woodland, again using sudden turns.</li>
<li>Natterer's bats are unusual in that they forage extremely close to vegetation (Smith &amp; Racey, 2002). Natterer's bats can&nbsp;glean&nbsp;prey from surfaces and can also catch prey that is flying or hanging within a few centimetres of vegetation. Prey is generally eaten in flight.</li>
<li>By using a very large bandwidth frequency-modulated echolocation call, Natterer's bats are able to locate prey within a few centimetres of echo-cluttering vegetation. This allows Natterer's bats to access prey items hanging from vegetation, such as spiders and caterpillars (Siemers &amp; Schnitzler, 2000).</li>
<li>Natterer's bats can locate prey in uncluttered environments by using only cues gained from echolocation. However, in cluttered environments they may use associative learning and feeding buzzes emitted by conspecifics in additional to echolocation cues. Natterer's bats fly low when foraging, hover, and then use their interfemoral membrane to capture the prey. Natterer's bats have also been seen to land and then chase prey items on the ground. Prey is eaten either in flight or at a perch. (Swift &amp; Racey, 2002).</li>
<li>The diet of Natterer's bats mainly consists of diurnal Diptera, which are&nbsp;gleaned&nbsp;from surfaces (Vaughan, 1997). Natterer's bats may also catch a few prey items by&nbsp;hawking.</li>
<li>A study by Swift and Racey (2002) showed that the major dietary component of Natterer's bats was medium-sized arthropods (with a body length of 5-15mm), including harvestmen, spiders, beetles and dung-flies. Some of these prey items must have been obtained by&nbsp;gleaning&nbsp;as they are found on plant surfaces. Moths were available but were not eaten, suggesting either that Natterer's bats are unable to hear them or that the moths detected and avoided the bats (Swift &amp; Racey, 2002).</li>
<li>A study by Sheil&nbsp;et al. (1991) on a population of Natterer's bats in western Ireland showed that 68% of their diet was made up of insects which were probably&nbsp;gleaned&nbsp;from various surfaces such as foliage and the ground. The prey are thought to have been&nbsp;gleaned&nbsp;because they were insects that were diurnal or rarely flew, or non-flying arthropods. Ground-dwelling prey such as centipedes and the dipteran muscid&nbsp;Scatophaga stercoraria&nbsp;appeared to be common dietary components. The majority of prey items were larger Diptera, although Arachnida, Trichoptera and Hymenoptera were also common.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/xhBNDL0/19.png" alt="" width="480" height="392" /><img src="https://i.ibb.co/4FKHbML/20.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Daubenton's Bat&nbsp;<em>Myotis daubentonii</em></p>
<ul>
<li>Forages 2-25cm above open water and occasionally along woodland paths but rarely within 2m of vegetation (Russ, 1999).</li>
<li>Daubenton's bats were found to be most active near water bodies (Bartonicka &amp; Zukal, 2003).</li>
<li>Rydell, Miller &amp; Jensen (1999) found that Daubenton's bats foraging over water will concentrate on calm areas and avoid areas with ripples, a behaviour not explained by insect distribution. Further investigation found that ripples in the water surface are avoided as they produce significant interference with the returning echo of the bat's call.</li>
<li>Boonman&nbsp;et al. (1998) found Daubenton's bats avoided foraging over ponds covered with duckweed. This behaviour is unrelated to prey abundance. Experimental evidence suggests that bats are less able to catch prey where there is duckweed cover.</li>
<li>The diet of Daubenton's bats mainly consists of aquatic Diptera (Vaughan, 1997). Aquatic pupae are taken from the water surface and male Chironomidae can be caught as they swarm above the water surface waiting for females to emerge. Daubenton's bats forage mainly by&nbsp;trawling&nbsp;insects from calm lake and river surfaces.</li>
<li>Siemers&nbsp;et al. (2001) found that Daubenton's bats in captivity can catch small fish with their feet if the fish penetrates a smooth water surface.</li>
<li>Flavin&nbsp;et al. (2001) studied the diet of Irish&nbsp;Daubenton's bats. They found that their main prey was Chironomidae, other nematocercan Diptera and Trichoptera. A quarter of the prey was obtained from the surface of water.</li>
<li>Prey is caught and consumed during flight.</li>
<li>Forages up to 10km from roost (Speakman, 1991).</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/YptnxPZ/21.png" alt="" width="480" height="394" /><img src="https://i.ibb.co/0CCP0p2/22.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Bechstein's Bat&nbsp;<em>Myotis bechsteinii</em></p>
<ul>
<li>Forages largely in enclosed vegetation whilst flying low.</li>
<li>The diet of Bechstein's bats mainly consists of Lepidoptera (including tympanate Noctuidae) and crepuscular and diurnal Diptera (Vaughan, 1997).</li>
<li>Safi &amp; Kerth (2004) found that Bechstein's bats consume mainly&nbsp;Dermaptera&nbsp;(20.3%) and&nbsp;Lepidoptera&nbsp;(18.1%). In contrast to previous suggestions Safi &amp; Kerth (2004) found that bats with a high dietary specialisation do not appear to be more vulnerable to extinction than species with a wide dietary niche. Instead wing morphology, which is often a sign of habitat specialization, could indicate the vulnerability of a species.</li>
<li>Prey is caught and consumed during flight or&nbsp;gleaned&nbsp;off the ground of tree trunks.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/Nj92YKV/23.png" alt="" width="480" height="451" /><img src="https://i.ibb.co/pzXdgpD/24.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Brandt's Bat&nbsp;<em>Myotis brandtii</em></p>
<ul>
<li>Forages at low-medium height in woodland and over water.</li>
<li>The diet of Brandt's bats mainly consists of Diptera, particularly the suborder Brachycera (Vaughan, 1997). Brachycerans are predominantly diurnal and so are probably&nbsp;gleaned&nbsp;from surfaces. Arachnida are also taken by&nbsp;gleaning.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/B6y2JRT/25.png" alt="" width="480" height="320" /><img src="https://i.ibb.co/WPy8zMh/26.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Barbastelle&nbsp;<em>Barbastella barbastellus</em></p>
<ul>
<li>Forages along woodland edges at treetop height and low over water.</li>
<li>The diet of barbastelles consists almost exclusively of Lepidoptera, probably caught by&nbsp;aerial hawking. Some other prey items, such as spiders, may be&nbsp;gleaned&nbsp;(Vaughan, 1997).</li>
<li>Work by Sierro and Arlettaz (1997) found that 99% of the diet of barbastelles in the Swiss Alps consisted of Lepidoptera, mainly tympanate moths. The barbastelle uses an unusual method of aerial foraging, flying just above the forest canopy. This foraging behaviour may be adapted specifically to tympanate moths.</li>
<li>A study of the barbastelle diet in Germany and Switzerland by Rydell&nbsp;et al.&nbsp;(1996) found that 73-94% of the diet was lepidopteran. This differs from other European bats in that there were nearly no dung beetles or midges found. The consideration of moth population levels is therefore especially important when considering barbastelle conservation.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/hY0HK0T/27.png" alt="" width="480" height="436" /><img src="https://i.ibb.co/WGth19y/28.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr valign="top">
<td style="width: 531px;">
<p>Greater Horseshoe Bat&nbsp;<em>Rhinolophus ferrumequinum</em></p>
<ul>
<li>Hunts in open tree habitats such as pasture, parkland and hillsides, often by water.</li>
<li>The diet of greater horseshoe bats mainly consists of Lepidoptera and Coleoptera (Vaughan, 1997). Greater horseshoe bats forage using&nbsp;perch-hunting,&nbsp;hawking&nbsp;and&nbsp;gleaning&nbsp;strategies.</li>
<li>Duverg&eacute; and Jones (1994) found that the diet of greater horseshoe bats mainly consisted of Lepidoptera and Coleoptera (30-45%), followed by Diptera (10-20%) and Hymenoptera (5-10%), although these proportions change seasonally.</li>
<li>Drinks while hovering or during low-level flight.</li>
<li>Winter foraging depends on the weather and prey availability.</li>
</ul>
</td>
<td style="width: 494px;"><img src="https://i.ibb.co/6PbjNB1/29.png" alt="" width="480" height="296" /><img src="https://i.ibb.co/ZHSx5WH/30.jpg" alt="" width="480" height="202" /></td>
</tr>
<tr style="height: 32px;" valign="top">
<td style="height: 32px; width: 531px;">
<p>Lesser Horseshoe Bat&nbsp;<em>Rhinolophus hipposideros</em></p>
<ul>
<li>Forages close to dense vegetation in pasture, woodland and water environments.</li>
<li>Often uses temporary night feeding perches to eat larger prey.</li>
<li>The diet of lesser horseshoe bats mainly consists of Diptera, particularly the suborder Nematocera. Nematocerans are generally crepuscular and the males often swarm (Vaughan, 1997). Lesser horseshoe bats forage using&nbsp;hawking&nbsp;and&nbsp;gleaning&nbsp;strategies.&nbsp;Perch-hunting&nbsp;may also be used.</li>
</ul>
</td>
<td style="height: 32px; width: 494px;"><span style="font-family: Basic, serif;"><img src="https://i.ibb.co/bgnPBZs/31.png" alt="" width="480" height="346" /><img src="https://i.ibb.co/hg6mfZW/32.jpg" alt="" width="480" height="202" /></span></td>
</tr>
</tbody>
</table>

- @references = {"Bedfordshire Bat Group. 2019. Bats in Flight." => "http://www.bedsbatgroup.org.uk/wordpress/wp-content/uploads/2011/08/2006-4-identifying-bats-in-flight.pdf", "The Bats of Britain. 2019. The Bats of Britain." => "http://www.bio.bris.ac.uk/research/bats/britishbats/"}
- @next_link = '/btr/useful-resources'
- @next_text = 'Useful Resources'